@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.signup-div {
    flex-wrap: wrap;
    /* padding: 10px; */
}
:root{
    --bg-color:rgb(0, 63, 81);
}
.left-section {
    height: 100vh;
    width: auto;
    flex-grow: 1;
}

.right-section {
    /* padding: 10px; */
    flex-grow: 1;
    height: 100vh;
    width: 50%;
    /* background-color:var(--bg-color)!important; */
    color: white;

}

.form-label {
    font-size: 12px;
    font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    background-color: rgb(246, 250, 251);
    font-size: 12px;
    color: grey;
    font-weight: 600;
    padding: 10px;
}

.signup-heading-div h1 {
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 63, 81);
}

a {
    text-decoration: none;
    border: none;
    /* color: white !important; */
    background-color: rgb(224,222,207)!important;
}
.right-section-content-div{
        padding: 20px;
     background-color:white;
    border-radius: 8px;
    color: var(--bg-color);
}
.right-section-heading{
    background-color:white;
    border-radius: 8px;
    color: var(--bg-color);
    padding: 5px;
    
}
.right-section-para{
    padding: 20px;
     background-color:white;
    border-radius: 8px;
    color: var(--bg-color);
}