@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.user-login-div {

    height: 100vh;
    width: 100%;
    /* padding: 10px; */
    

}

.form-section {
    padding: 10px;
    /* backdrop-filter: blur(8px) !important; */
    /* border: 1px solid rgb(209, 16, 16); */
}

.form-check span {
    color: blue;
    font-weight: 600;
    font-size: 14px;
}

.Remember-me-div {
    color: grey;
}

.login-heading-div span {
    color: grey;
    font-weight: 600;

}

.login-heading-div h1 {
    font-weight: bold;
}

.signup-div a {
    font-weight: 600;
    text-decoration: none;
    color: blue;
}

.left-section {
    width: 50%;
    height: 100vh;
    /* border: 1px solid red; */
    flex-grow: 1;

    
   
}

.right-section {
    /* width: 50%; */
    flex-grow: 1;
    /* border: 1px solid rgb(172, 82, 82); */
    width: auto;
    height: 100vh;

}
input[type="email"],input[type="password"]{
    background-color: rgb(246,250,251);
    font-size: 12px;
    color: grey;
    font-weight: 600;
    padding: 10px;
}